<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="upcoming" href="/tabs/upcoming">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Upcoming</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="timing" href="/tabs/timing">
      <ion-icon name="stopwatch-outline"></ion-icon>
      <ion-label>Timing</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="leaderboard" href="/tabs/leaderboard">
      <ion-icon name="trophy-outline"></ion-icon>
      <ion-label>Leaderboard</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="results" href="/tabs/results">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Results</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="more" href="/tabs/more">
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      <ion-label>More</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
